<%= link_to "Logout", root_path, :id => "reg-btn", :class => "inbox-sf-add-btn tip" %>

<section class="dashboard_section_left">
TEST TEST

</section>
<section class="dashboard_section">
  <h2>Latest Rants</h2>

  <% @rants.each do |rant| %>
    <li><%= rant.rant %></li>

  <% end %>

</section>