<div>
  <%= link_to "Login", signin_path, :class => "login_link", :method => :get %>

  <%= link_to "Join", new_user_path, :id => "reg-btn", :class => "inbox-sf-add-btn tip" %>
</div>

</div>
<div align="center" class="title">
  <h9>Rantly</h9>
  <p align="center">Let it all out</p></div>

<div class="quotes">
  <div style="position: absolute; left: 250px; top: 450px;">
    <img src="https://avatars2.githubusercontent.com/u/161737?v=2&s=460" width="150" height="150"/>
  </div>
  <p style="width: 750px; position: absolute; left: 425px; top: 450px;">"Rantly has allowed a certain freedom I never
    thought possible. Now I can rant to the internet
    at large, without having to worry about my thoughts. I just type it out, hit click, and feel the surge
    of relief. Thanks Rantly, you've truly made my most inane rants heard. I remember a time when I wasn't
    able to truly express myself. It's really frustrating when you want to be heard and no one..."</p>

  <p style="position: absolute; left: 425px; top: 550px;">|Jeff Taggart, avid Ranter</p>


</div>


