<div>

  <%#= link_to "Login", new_user_path, :class => "btn btn-default", :method => :get %>

  <%= button_to "Join", new_user_path, :id => "reg-btn",
                :class => "inbox-sf-add-btn tip", :method => :get %>


</div>

</div>
<div align="center" class="title">Rantly</div>
<p align="center">Let it all out</p>




<footer>


</footer>