<nav>
  <div>Rant.ly</div>

  <input class="button_to" TYPE="button_to" VALUE="Join">


  <%= button_to "Join", new_user_path, :id => "open-contacts-dialog-btn",
                :class => "inbox-sf-add-btn tip", :method => :get %>

</nav>



</div>
<div align="center" class="title">Rantly</div>
<p align="center">Let it all out</p>




<footer>


</footer>