/*
 *= require_tree .
 *= require_self
 */
html {
    font-family: Trebuchet MS;
}

body {
    background: gray;

}

a {
    /*color: black;*/
    text-decoration: none;
}

nav {
    background: #383236;
    height: 80px;
    font-size: 40px;
    color: white;
    line-height: 75px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    border-color: none;
    border-right: solid;
    border-right-width: 2px;
    border-right-color: green;
    height: 80px;
    position: absolute;
    left: 20px;
    padding-right: 30px;
}

h9 {
    font-size: 80px;
}

.title {
    background-color: white;
    height: 250px;

}

.quotes {
    height: 350px;

}

#front_pic {
    position: absolute;
    left: 50px;
    padding-right: 30px;

}

#reg-btn {
    float: right;
    line-height: 60px;
    width: 100px;
    background-color: green;
    height: 60px;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 18px;
    color: white;
    text-align: center;
    margin: auto;
}

.login_link {
    position: absolute;
    right: 150px;
    top: 36px;
    color: white;
    font-size: 20px;
}

section {
    width: 20em;
    border: 1px solid #ccc;
    padding: 2em;
    margin: 2em auto;
    background: #efefef;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: black;
}

.error {
    color: red;
}

#register_button {
    width: 400px;
    background-color: green;
    height: 35px;
    font-size: 20px;
    border: 25px;
    color: white;
    margin-top: 25px;
}

input {
    width: 400px;
}

textarea {
    width: 400px;
    max-width: 400px;
}

.reg_link {
    color: blue;
}

.non_link {
    color: white;
}
