/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    font-family: Trebuchet MS;

}

nav {
    background: darkslategray;
    height: 80px;
    font-size: 40px;
    color: white;
    line-height: 115px;

}

.title {
    font-size: 80px;

}

footer {
    background: slategray;
    height: 120px;

}

#reg-btn {
    float: right;
    /*line-height: 30px;*/
    width: 120px;
    background-color: orange;
    height: 80px;
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 8px;



}